streamlit
pandas
numpy
pillow
plotly
geopandas
requests
streamlit-lottie
statsmodels
streamlit-option-menu
scikit-learn
joblib
streamlit_folium
matplotlib
folium
seaborn
xgboost
lightgbm
streamlit-autorefresh
tensorflow
keras
google-generativeai
shap
