streamlit
pandas
numpy
pillow
plotly
requests
streamlit-lottie==1.0.0
streamlit-option-menu
scikit-learn
joblib
matplotlib
seaborn
xgboost
lightgbm
tensorflow
keras
google-generativeai
