streamlit
pandas
numpy
pillow
plotly
requests
streamlit-lottie
statsmodels
streamlit-option-menu
scikit-learn
joblib
matplotlib
seaborn
xgboost
lightgbm
streamlit-autorefresh
tensorflow
keras
google-generativeai
shap
